
.main-container{
   
        height: 90vh;
        color: #fff;
        font-size: 18px;
        line-height: 5vh;
        text-align: center;  
       

}

/*Här använder jag min jpg-bild som bakgrund */
.menu{
    background-image: url(../images/Pizza-1.jpg);
}



/*Här börjar min CSS animation där jag skapar en border som bara har två kanter 'bottom & right' som har position absolute så att jag kan 
flytta på den. Tanken är att den ska synas i mitt och i slutet av sidan så att användaren ska veta att jag har en sida neråt */
.box{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50);
    bottom: 4px;
}
/*Under animation så säger jag att jag ska ha en oändlig animation som ska dyka upp och försvinna inom två sekunder*/
.box span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #ffc107;
    border-right: 1px solid #ffc107;
    margin: -10px;
    animation: animate 2s infinite;
}

/*opacity är först lika med 0 så småningom efter halva tiden börjar pilarna visas och sedan i slutet försvinner dem igen. Transoform roterar 
min halva border så att den ska se ut som en pil som pekar neråt*/
@keyframes animate{

    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*I och med att jag redan har kommenterat min animation med CSS så ska inte kommentera raderna under.
Jag har kopierat dem rakt av från er kodexempel då jag vill snygga till min sida lite mer*/

#btn{
    border: none;
    background-color: salmon;
    text-align: center;
    height: 40px;
    font-size: 15px;
    width: 120px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    transition: 0.5s;
}

#btn span{
    display: inline-block;
    transition: 0.5s;
    position: relative;
}

#btn:hover span:after{
    opacity: 1;
    right: 0;
}

#btn:hover span{
    padding-right: 24px;
}

#btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -24px;
    transition: 0.5s;
}

/**För att snygga till min navbar så använder jag lite CSS-kod som jag inte kan få genom Bootrstrp
**/
.nav-item{
    font-size: 2rem;
    font-family: cursive;
    font-weight: bold;
    margin: 1rem;
}
